
body,html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "monserat";

}

@font-face {
  font-family: "monserat";
  src:url(../Montserrat/Montserrat-Regular.ttf);
}
.conteiner {
  width: 100%;
  height: 100%;
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
  -webkit-box-orient: vertical; 
  -webkit-box-direction: normal; 
      -ms-flex-direction: column; 
          flex-direction: column;
}

.content {

  /*border: 1px solid;*/

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
}



/*header header header header header*/

header {
	background-image: url(../images/header/tree.png);
	background-size: cover;
	height: 100vh;
	max-height: 720px;
	min-height: 320px;
}

header nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 20px 0;
}
header nav ul li {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: normal;
	color: #FFC700;
	margin-right: 15px;

}

header nav ul li a {
text-decoration: none;
color: #FFC700;
}
header nav ul li a:hover {
	color: #75DEFF;
}

header nav ul li:last-child {
	margin-right: 0;
}

header nav ul li a img {
	vertical-align: middle;
}

header h1 {
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: normal;
	color: #82FF77;
	text-shadow:3px 0 3px #000, 
				0 3px 3px #000, 
				-3px 0 3px #000, 
				0 -3px 3px #000;
	text-align: center;
	margin-top: 20%;
	/*padding-left: 10%;*/
}

.treeicon {
	width: 48px;
	height: 48px;
	/*padding-left: 25%;*/
}

.wrapper {
	max-width: 1200px;
	width: 100%;
	margin : 0 auto;
	padding: 0 20px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

header .navline {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
}

.menuicon {
	width: 48px;
	height: 48px;
	margin-left: auto;
	cursor: pointer;
	display: none;

}

@media screen and (max-width: 1024px) {

	header nav ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		list-style-type: none;
		margin: 0;
		padding: 20px 0;
		}

		.menuicon {
			display: block;
		}

		nav {
			display: none;
			position: absolute;
		    right: 0px;
		    top: 53px;
		    background-color: white;

		}



	/*header h1 {
		margin-top: 10%;
	}*/
}

/*portfolio portfolio portfolio portfolio*/

main .portfolio {
	background-image: url(../images/main/portfolio/mm.png);
}

main h2 {
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: normal;
	letter-spacing: 0.3em;
	color: #2152B1;
	margin:0;
	text-align:center;
	text-shadow:1px 0 1px #000, 
				0 1px 1px #000, 
				-1px 0 1px #000, 
				0 -1px 1px #000;

}

.wraptab {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

}

ul.tabs {
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 30%;
	list-style: none;
	/*border-bottom: 1px solid #333;*/

}

ul.tabs li {
	
	margin: 0;
	cursor: pointer;
	padding: 0px 21px;
	line-height: 31px;
	/*border-top: 1px solid #333;
	border-left: 1px solid #333;
	border-bottom: 1px solid #333;*/
	/*background-color: #666;*/
	color: #ccc;
	overflow: hidden;
	position: relative;
}

/*.tab_last { border-right: 1px solid #333; }*/

/*ul.tabs li:hover {
	background-color: #ccc;
	color: #333;
}
*/
ul.tabs li.active {
	
	color: #333;
	display: block;
}

.tab_container {
	
	border-top: none;
	clear: both;
	float: left;
	width: 70%;
	
	overflow: auto;
}

.tab_content {
	padding: 20px;
	display: none;
	
}


.tabs_img {
	background-color: #A1D8FF;
	border: 2px solid #000000;
	border-radius: 30px;
	width: 100%;
}

.tabs_img p {
	padding-left: 10px;
}

.tab_drawer_heading { display: none;
 width: 70%; }




.proekt1 {
	width: 300px;
	height: 200px;;
}

.proekt2 {
	width: 300px;
	height: 200px;
}

.proekt3 {
	width: 300px;
	height: 200px;
}


@media screen and (max-width: 1100px) {

	.proekt1 {
	width: 250px;
	height: 150px;
	}

	.proekt2 {
	width: 250px;
	height: 150px;
	}

	.proekt3 {
	width: 250px;
	height: 150px;
	}
}

@media screen and (max-width: 920px) {

	.proekt1 {
	width: 200px;
	height: 100px;
	}

	.proekt2 {
	width: 200px;
	height: 100px;
	}

	.proekt3 {
	width: 200px;
	height: 100px;
	}
}

@media screen and (max-width: 750px) {

	.proekt1 {
	width: 150px;
	height: 100px;
	}

	.proekt2 {
	width: 150px;
	height: 100px;
	}

	.proekt3 {
	width: 150px;
	height: 100px;
	}
}





.portfolio-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style-type: none;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: normal;
	letter-spacing: 0.2em;
	color: #000000;
}

.portfolio-list li {
	margin-right: 20%;
	/*text-shadow:1px 0 1px #000, 
				0 1px 1px #000, 
				-1px 0 1px #000, 
				0 -1px 1px #000;*/
}

 .portfolio-list li:last-child {
 	margin-right: 0;
 }

 @media screen and (max-width: 590px) {
 	 .portfolio-list li:last-child {
 		margin-right: 0;
 		font-size: 20px;
 }
 }

 @media screen and (max-width: 521px) {
 	 .portfolio-list li:last-child {
 		display: none;
 }
 }



/*obomne obomne obomne obomne*/

.info_obo_mne {
	background-image: url(../images/main/obomne/info.png);
}

.header_block {
	width: 30%;
	height: 40%;
	background: #FFD4AD;
	border-radius: 35px;
	border: 2px solid black;
	text-align:center;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: normal;
	letter-spacing: 0.3em;
	margin-left: 40%;
}


.wrapper_obo_mne {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
}


.img-obo-mne {
	width: 30%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

}

.img-obo-mne img {
	width: 300px;
	height: 300px;

}


.description {
	width: 70%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.description-blok {
	width: 80%;
	height: 100%;
	border-radius: 15px;
	border: 2px solid black;
	background-color: #EEB076;
	margin:10px 0;
	padding: 15px;
}

.description-blok span {
	border: 1px solid black;
	background-color: #FAF34B;
	border-radius: 20px;
	padding: 5px 10px;
}

.description-items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-top:10px;
}

.description-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

}

.description-list img {
	width: 60px;
	height: 60px;
}

@media screen and (max-width: 1151px) {
	
  .wrapper_obo_mne {
  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
  	-webkit-box-orient: vertical;
  	-webkit-box-direction: normal;
  	    -ms-flex-direction: column;
  	        flex-direction: column; 
  }

  .description {
  	margin-left: 10%;
  }

  .header_block {
  	width: 25%;
	height: 30%;
	background: #FFD4AD;
	border-radius: 25px;
	border: 2px solid black;
	text-align:center;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: normal;
	letter-spacing: 0.2em;
	margin-left: 35%;
  }


}


@media screen and (max-width: 901px) {

.header_block {
  
	font-size: 14px;
	
  }

.img-obo-mne img {
	width: 150px;
	height: 150px;
}

}

@media screen and (max-width: 700px) {

.header_block {

	font-size: 11px;
	
  }

}

@media screen and (max-width: 550px) {

.header_block {
  
	font-size: 9px;
	
  }

}


/*price price price price price*/


.price {
	background-image: url(../images/main/price/mp.png);
}

.price h3 {
	margin:0;
	padding-top: 20px;
	padding-left:30px;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: normal;
	color: #FF8A00;
	text-shadow:1px 0 1px #000, 
				0 1px 1px #000, 
				-1px 0 1px #000, 
				0 -1px 1px #000;

}


.slider_price {
	position: relative;
	padding: 70px;
}

.slider_price div img {
	width: 70%;
	height: 40%;
}


.slick-arrow {
	background-image: url(../images/main/price/strelka.png);
	border-radius: 50%;
	background-color: transparent;
	border: none;
	background-size: cover;
	width: 	60px;
	height: 60px;
	font-size: 0;
	position: absolute;
	left: 30%;
	content: "";
	bottom: 0;

}


.slick-slide {
	position: relative;
}

.slick-slide span {
	position: absolute;
	content: "";
	top: 10px;
	left:20px;
}

.slick-next {
	margin-left: 30%;
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
}


@media screen and (max-width: 1450px) {
	.slick-slide span {
		position: absolute;
		content: "";
		top: 10px;
		left:15px;
		font-size: 14px;
	}

}

@media screen and (max-width: 1271px) {
	.slick-slide span {
		position: absolute;
		content: "";
		top: 10px;
		left:15px;
		font-size: 11px;
	}	
}

@media screen and (max-width: 1041px) {
		.slick-slide span {
		position: absolute;
		content: "";
		top: 10px;
		left:15px;
		font-size: 10px;
	}	

}

@media screen and (max-width: 821px) {
		.slick-slide span {
		position: absolute;
		content: "";
		top: 10px;
		left:15px;
		font-size: 9px;
	}	

}

@media screen and (max-width: 701px) {
	.slick-slide span {
		position: absolute;
		content: "";
		top: 10px;
		left:15px;
		font-size: 8px;
	}	
}

@media screen and (max-width: 630px) {
	.slick-slide span {
		position: absolute;
		content: "";
		top: 10px;
		left:15px;
		font-size: 7px;
	}	
}


@media screen and (max-width: 550px) {
	.slick-slide span {
		position: absolute;
		content: "";
		top: 10px;
		left:15px;
		font-size: 9px;
	}	
}

@media screen and (max-width: 501px) {
	.slick-slide span {
		position: absolute;
		content: "";
		top: 10px;
		left:15px;
		font-size: 7px;
	}	
}

@media screen and (max-width: 479px) {
	.slick-slide span {
		position: absolute;
		content: "";
		top: 10px;
		left:15px;
		font-size: 11px;
	}	
}

/*footerfooterfooterfooterfooter*/


.footer {
	background-image: url(../images/footer/treefooter.png);
	background-size: cover;
}


.contacts {
	padding-top: 20px;
	width: 250px;
}

.vkinfo a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;	
	text-decoration: none;
}


.vkinfo a img {
	width: 30%;

}

.vkinfo a div {
	background-color: #FAD44B;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border-radius: 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 70%;
}

.vkinfo a div:hover {
	background-color: #FFAC4B;
}

.vkinfo a div span {
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: normal;
	letter-spacing: 0.1em;
	color: #000000;
}



.telinfo {
	margin-top:20px;
}

.telinfo a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-decoration: none;	
}

.telinfo a img {
	width: 30%;
}

.telinfo a div {
	background-color: #FAD44B;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border-radius: 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.telinfo a div:hover {
	background-color: #FFAC4B;
}

.telinfo a div span {
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: normal;
	letter-spacing: 0.1em;
	color: #000000;
}



@media screen and (max-width: 520px) {

	ul.tabs {
		display: none;
	}
	.tab_drawer_heading {
		background-color: #ccc;
		color: #fff;
		/*border-top: 1px solid #333;*/
		margin: 0;
		padding: 5px 20px;
		display: block;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.d_active {
		background-color: #666;
		color: #fff;
	}

	.tab_container {
		width: 100%;
	}
}