header, footer{
  width: 100%;
  padding: 10px 20px;
  background-color: #ccc;
  box-sizing: border-box;
}
header ul{
  display:flex;
}
header ul li{
  margin-right: 20px;
  display: inline-block;
}
header ul li a{
  color: #000;
  font-size: 20px ;
  text-decoration: none;
}
header ul li a:hover{
  color: #faa;
}
.container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
aside{
  flex-basis: 20%;
  padding: 10px;
  background-color: #aaf;
}
aside h2{
  font-size: 22px;
  color: red;
  margin-bottom: 20px;
}
aside ul{
  padding-left: 20px;
}
aside ul li{
  margin-bottom: 10px;
  display: block;

}
aside ul li a{
  color: #000;
  font-size: 20px ;
  text-decoration: none;
}
aside ul li a:hover{
  color: #faa;
}

aside .news {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}
aside .news article{
  width: 100%;
  padding-bottom: 30%;
  background-color: blue;
  margin-bottom: 10px;
  position: relative;
  
 
}
aside .news article a{
  color: black;
  text-decoration: none;
  position: absolute;
  left: 0;
  top: 50%;
  transform:translateY(-50%)
}

aside .news article a:hover {
  color: #faa;
}

main{
  width: 60%;
  margin: 20px;
  padding-top: 20px;
  background-color: #faf;
}
main h1{
  text-align: center;
  font-size: 30px;
}


.kat1 {
  grid-area: kat1
}

.kat2 {
  grid-area: kat2
}

.kat3{
  grid-area: kat3
}

.kat4{
  grid-area: kat4
} 

.kat5{
  grid-area: kat5
}

.kat6{
  grid-area: kat6
}

.content {
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 160px 160px 160px;
  grid-template-areas:
    "kat1 kat2 kat2"
    "kat3 kat4 kat5"
    "kat6 kat6 kat5";

}


.content > div {

    border: 2px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    padding: 1em;
    margin:10px; 
    color: #d9480f;
    text-align: center;
  }


footer ul{
  display:flex;
  
}
footer ul li{
  margin-right: 20px;
  display: inline-block;
}
footer ul li a{
  color: #000;
  font-size: 20px ;
  text-decoration: none;
}
footer ul li a:hover{
  color: #faa;
}